.margin-top {
  margin-top: 15px !important;
}

.margin-top--sm {
  margin-top: 7.5px !important;
}

.margin-top--lg {
  margin-top: 30px !important;
}

.margin-bottom {
  margin-bottom: 15px !important;
}

.margin-bottom--lg {
  margin-bottom: 30px !important;
}

.margin-bottom--sm {
  margin-bottom: 7.5px !important;
}

.margin-bottom--0 {
  margin-bottom: 0 !important;
}

.padding-bottom--0 {
  padding-bottom: 0 !important;
}

.text-orange {
  color: #f2ab00;
}

.normal_wrapper,
.normal_wrapper::after {
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
li,
p,
table,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a:active,
a:hover,
a:visited {
  text-decoration: none;
  outline: 0;
}
a,
a:active,
a:focus {
  outline: 0;
}
body,
html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.normal_wrapper {
  background: url(../images/openbanner.jpg) 0 0 / cover no-repeat fixed rgba(0, 0, 0, 0);
  bottom: 0;
  padding-top: 80px;
  position: relative;
  display: table;
  z-index: 1;
}
.normal_wrapper::after {
  background: #000;
  content: '';
  opacity: 0.5;
  position: fixed;
  z-index: -1;
}
.hover_ease {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.logo img {
  width: 220px;
}
.container {
  z-index: 41;
}
header {
  left: 0;
  padding: 20px 0;
  position: absolute;
  right: 0;
  z-index: 2;
}
.do-u-own-wrapper {
  padding: 60px 0 0;
  text-align: center;
}
.adjust_img {
  position: relative;
}
.funding-sub-head-2 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

.yes-no-btns-wrapper {
  padding: 40px 0 60px;
}

.btn-yes,
.btn-no {
  display: inline-block;
  max-width: 230px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  color: #fff;
  font-size: 40px;
  border: 1px solid #88b1ff;
  border-radius: 8px;
}

.btn-yes {
  background-color: #063df4;
}

.btn-no {
  background-color: #1d274e;
}

.btn-yes:hover,
.btn-yes:focus,
.btn-no:hover,
.btn-no:focus {
  background-color: #28cb8d;
}
@media (max-width: 767px) {
  .btn-yes,
  .btn-no {
    max-width: 150px;
    padding: 10px;
    font-size: 24px;
  }
}

.real-time-busi {
  color: #fff;
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
}
.custom-offset {
  margin-left: 11.66666%;
}
.sp-section-2-btn {
  margin-top: 12px;
}
.real-time-head {
  border-bottom: 2px solid #28cb8d;
  font-size: 28px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.real-time-desc {
  display: table;
  margin: 0 auto;
  text-align: left;
}
.Progress_Status,
.funding-sub-head-3,
.real-time-imgs,
.sec16_text,
.section-7-content,
.sry_head,
.wrapper-600 {
  text-align: center;
}
.real-time-desc li {
  font-size: 17px;
  padding-bottom: 2px;
  position: relative;
}
.real-time-desc li::before {
  background: url(../images/checkbox.svg) no-repeat rgba(0, 0, 0, 0);
  content: '';
  display: block;
  height: 20px;
  left: -30px;
  position: absolute;
  top: 2px;
  width: 20px;
}
.real-time-imgs {
  padding: 20px 0 40px;
}
.header_right a {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  padding: 10px 0;
}
.wrapper-600 {
  margin: 0 auto;
  max-width: 600px;
  padding: 60px 0 20px;
}
.funding-sub-head-3 {
  border-bottom: 3px solid #28cb8d;
  color: #fff;
  font-size: 40px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.funding-sub-head-3 span {
  display: block;
}
.section-2-content {
  padding: 20px 0;
}
.section-10-content a,
.section-2-content a,
.section-4-content a {
  background: #1d274e;
  border: 1px solid #88b1ff;
  border-radius: 10px;
  color: #fff;
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
  padding: 17px 0;
}
.section-10-content a:hover,
.section-2-content a:hover,
.section-4-content a:hover {
  background: #28cb8d;
}
.section-2 .real-time-busi {
  opacity: 0.8;
}

.wrapper-500 {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0 50px;
}
.wrapper-700 {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}
.wrapper-900 {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.form-group label {
  color: #fff;
  padding-bottom: 7px;
}
.form-group input {
  height: 39px;
}

.section_btn {
  width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 35px;
  background-color: #0387cf;
}

.section_btn:hover,
.section_btn:focus {
  color: #fff;
  background-color: #02669d;
}

.section-4-content {
  margin: 0 auto;
  max-width: 500px;
}
.section-7-content a {
  border: 1px solid #88b1ff;
  border-radius: 11px;
  display: block;
  padding: 20px;
}
.section-7-content p {
  color: #fff;
  font-size: 20px;
  padding-bottom: 12px;
}
.section-7-content li {
  display: inline-block;
  margin: 0 10px;
  max-width: 160px;
  text-align: center;
  width: 100%;
}
.female {
  background: #063df4;
}
.male {
  background: #1d274e;
}
.section-7-content a:hover {
  background: #28cb8d;
}
.sry_head {
  color: #fff;
  font-size: 80px;
  padding-bottom: 30px;
}
.Sorry_Partner .wrapper-600 {
  max-width: 700px;
  padding-bottom: 0;
}
.Sorry_Partner {
  background: #132a80;
  bottom: 0;
  left: 0;
  padding-top: 80px;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  display: table;
}
.Sorry_Partner::after {
  background: rgba(188, 122, 38, 0.604);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
.btn_disable {
  opacity: 0.5;
  pointer-events: none;
}
.Progress_bar {
  background: #d1d1d1;
  border-radius: 3px;
  height: 15px;
  margin: 0 0 30px;
  position: relative;
}
.Progress_Status {
  background: -webkit-linear-gradient(#4ccb8a, #348c60);
  background: -o-linear-gradient(#4ccb8a, #348c60);
  background: -moz-linear-gradient(#4ccb8a, #348c60);
  background: linear-gradient(#4ccb8a, #348c60);
  border-radius: 3px;
  font-size: 10px;
  height: 15px;
  position: absolute;
  transition: all 1s ease 0s;
  color: #fff;
  left: 0;
}
.wrapper-500 .Progress_bar,
.wrapper-600 .Progress_bar {
  margin-bottom: 10px;
}

.thank-you-wrapper {
  padding: 70px 20px;
  color: #fff;
  text-align: center;
  background-color: #0387cf;
  border-radius: 20px;
}

.thank-you-head {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 47px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.thank-you-head:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 5px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.thank-you-head--borderless {
  position: static;
  padding-bottom: 0;
}

.thank-you-head--borderless:after {
  content: normal;
}

.thank-you-desc {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 17px;
}

@media (max-width: 767px) {
  .thank-you-wrapper {
    margin: 40px 0 0;
    padding: 40px 20px;
  }

  .thank-you-head {
    margin-bottom: 20px;
    padding-bottom: 30px;
    font-size: 30px;
  }

  .thank-you-desc {
    font-size: 16px;
  }
}

.legal-checkbox input {
  height: auto;
  display: none;
}
.legal-checkbox .checkbox-inline {
  font-size: 9px;
  font-weight: 700;
  line-height: 13px;
  padding-left: 36px;
}

.checkbox-inline > p::after,
.checkbox-inline > p::before {
  content: '';
  position: absolute;
}

.checkbox-inline > p::after {
  background: #fff;
  border: 2px solid #2d9cdb;
  border-radius: 5px;
  display: block;
  height: 24px;
  left: 0;
  top: 0;
  width: 24px;
  transition: all 0.2s linear 0s;
}
.checkbox-inline > p::before {
  border-bottom: 2px solid #88b1ff;
  border-right: 2px solid #88b1ff;
  height: 20px;
  left: 12px;
  opacity: 0;
  top: -3px;
  transform: rotate(50deg);
  transition: all 0.2s linear 0s;
  width: 10px;
  z-index: 5;
}
.checkbox-inline > input:checked + p::before {
  opacity: 1;
  border-color: #88b1ff;
}
.checkbox-inline:hover p::before {
  opacity: 0.5;
  border-color: #000;
}
.checkbox-inline > input:checked + p::after {
  background: #1d274e;
}
.checkbox-inline.radio {
  display: block;
  margin: 0;
  padding-bottom: 15px;
  width: 100%;
}
p.font12 {
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
}
.checkbox-inline.radio .homebased,
.checkbox-inline.radio input {
  display: none;
}
.checkbox-inline.radio p {
  padding-left: 20px;
  padding-top: 3px;
}
.sec16_text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.steps_wrapper li {
  display: inline-block;
  width: 32%;
  text-align: left;
}
.section-13 {
  display: none;
}
.steps_wrapper li img {
  display: inline-block;
  padding-right: 10px;
  padding-top: 8px;
  vertical-align: middle;
  width: 50px;
}
.steps_content {
  color: #fff;
  display: inline-block;
  width: 68%;
}
.steps_wrapper {
  padding: 40px 0;
}
.steps_content h4 {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 3px;
}
.steps_content > p {
  font-size: 13px;
  line-height: 15px;
}
.steps_wrapper > ul {
  text-align: center;
}
.uploads_wrapper {
  padding-bottom: 20px;
}
.uploads_wrapper > h4 {
  color: #fff;
  font-weight: 600;
  text-align: center;
}
.upload_here {
  background: url('../images/Upload icon.png') center center/40px 40px no-repeat rgba(0, 0, 0, 0);
  display: block;
  height: 60px;
  width: 100%;
  cursor: pointer;
  border: 2px dashed #fff;
  border-radius: 10px;
}
.upload_here input {
  display: none;
}
.uploads_wrapper li {
  display: inline-block;
  margin: 0 10px;
  width: 23%;
}
.Continue_upload_loading,
.Continue_upload_loading-files,
.confirmation,
.form-group span.error {
  right: 0;
  text-align: center;
  width: 100%;
}
.upload_here.added {
  background-color: #88b1ff;
}
.uploads_wrapper > ul {
  padding: 20px 0;
  text-align: center;
}
.section-16-next {
  font-size: 25px;
}
.section-16_for_mob {
  display: none;
}
.Continue_upload_loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.Continue_upload_loading .fa {
  font-size: 40px;
  left: 0;
  right: 0;
  position: relative;
  top: 45%;
}
.Continue_upload_loading-files {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 3;
}
.Continue_upload_loading-files .fa {
  font-size: 40px;
  left: 0;
  right: 0;
  position: relative;
  top: 3%;
}
.form-group span.error {
  background: #ef5350;
  color: #fff;
  display: block;
  margin-top: 0;
  padding: 5px 10px;
}
.confirmation {
  background: rgba(0, 0, 0, 0.9);
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  z-index: 2;
}
.confirmation_content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.confirmation_content a {
  border-radius: 3px;
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
  padding: 10px 60px;
  text-transform: uppercase;
}
.confirmation_yes {
  background: #fff;
  color: #2d9cdb;
}
.confirmation_no {
  background: #2d9cdb;
  color: #fff;
}
.confirmation_content a:hover {
  background: #28cb8d;
  color: #fff;
}
.funding-sub-head-3 span {
  padding-bottom: 20px;
}
.invalid_num_error {
  color: #fff;
  background: #ef5350;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  display: block;
}
@media (max-width: 767px) {
  header .header_left.pull-left,
  header .header_right.pull-right {
    float: none !important;
    margin: 0 auto;
    text-align: center;
  }
  .funding-sub-head-2 {
    font-size: 50px;
  }
  .yes-no {
    padding: 30px 0;
  }
  .yes-no button {
    font-size: 24px;
    margin: 5px;
    max-width: 150px;
    padding: 10px;
  }
  .sry_head {
    font-size: 51px;
    padding-bottom: 10px;
  }
  .funding-sub-head-3 {
    font-size: 25px;
  }
  .header_right a {
    font-size: 17px;
  }
  .normal_wrapper {
    padding-top: 65px;
    background: none;
  }
  .form-group input {
    height: 34px;
  }
  .section_btn {
    font-size: 20px;
    padding: 10px;
  }
  .real-time-head {
    font-size: 25px;
  }
  .real-time-desc {
    padding-left: 30px;
  }
  .section-7-content li {
    max-width: 110px;
  }
  .section-7-content a {
    padding: 10px;
  }
  .Gender_select img {
    height: 59px;
  }
  .section-7-content p {
    font-size: 16px;
  }
  header {
    padding-top: 0;
  }
  .header_right {
    background: #000;
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  .do-u-own-wrapper {
    padding: 40px 0 0;
  }
  .wrapper-500,
  .wrapper-600 {
    padding-top: 40px;
  }
  .normal_wrapper::after {
    opacity: 1;
  }
}
.section-3 .form-group {
  position: relative;
  padding-bottom: 9px;
}
.error_text {
  color: #000;
  width: auto;
  position: absolute;
  font-size: 12px;
  background: #fff;
  padding: 5px 10px;
  z-index: 1;
  left: 0;
  bottom: -28px;
  border-radius: 3px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.error_text::after {
  content: '';
  left: 10px;
  background: #fff;
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: -4px;
  z-index: -1;
  transform: rotate(-45deg);
}
.error_text.err_legal_one {
  top: 34px;
  bottom: auto;
}
.BankSearchData-wrap {
  position: relative;
}
#iframeRC {
  display: none;
  max-width: 460px;
  border-radius: 5px;
}
.spiner-wrap {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}
.spiner-wrap .fa {
  margin-top: 150px;
  font-size: 30px;
  color: #fff;
}
.main-loader {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  z-index: 1;
  display: none;
}
.main-loader i {
  position: absolute;
  top: 46%;
  color: #fff;
  font-size: 40px;
}

.bank-search {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: #0387cf;
  border-radius: 10px;
  box-shadow: 3px 4px 20px rgba(255, 255, 255, 0.2);
}

.search-wrap {
  position: relative;
  color:#333;
}
.search-wrap i {
  background-image: url('../images/search-icon.png');
  height: 20px;
  width: 22px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 29%;
  left: 16px;
}
.search-msg {
  display: none;
  position: absolute;
  color: #fff;
  font-size: 12px;
  bottom: -10px;
  font-weight: 700;
  text-align: center;
  left: 0;
  right: 0;
}
.bank-search #BankSearch {
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 20px 15px 20px 50px;
  margin-bottom: 10px;
}
#BankSearchData {
  height: 340px;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}
.Link_bank_wrapper #BankSearchData li {
  background: #fff;
  color: #000 !important;
  border-radius: 7px;
  display: block;
  padding: 10px;
  margin: 0 0 10px 0;
  width: 100%;
  transition: all 0.5s linear;
  cursor: pointer;
  clear: both;
  text-align: left;
}
.Link_bank_wrapper #BankSearchData li:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
#BankSearchData ul {
  padding: 10px;
}
#BankSearchData li img {
  float: left;
  margin-right: 20px;
  height: 25px;
  width: 25px;
}
.bank-search .search-head {
  font-size: 22px;
  text-align: left;
  padding-bottom: 20px;
  color: #fff;
  font-weight: 700;
}
.onload-list {
  padding-top: 20px;
}
.onload-list a {
  width: 133px;
  height: 80px;
  display: block;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.onload-list a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 7px;
}
.onload-list a:hover:after {
  border-color: #f2ab00;
}
.onload-list a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.onload-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Link_bank_wrapper .onload-list li {
  width: auto;
}
.onload-list a img {
  width: 100%;
  border-radius: 13px;
}
.onload-chase {
  padding: 19px 10px;
}
.onload-boa {
  padding: 15px 10px;
}
.onload-wells {
  padding: 9px;
}
.onload-pnc {
  padding: 25px 10px;
}
.onload-td {
  padding: 20px 10px;
}
.onload-usb {
  padding: 25px 10px;
}
.onload-region {
  padding: 25px 10px;
}
.onload-capital {
  padding: 19px 10px;
}
.dontFindBank,
.FindBank {
  color: #fff;
  background: transparent;
  border: none;
  padding-top: 10px;
  font-weight: 700;
  font-size: 13px;
}
.FindBank {
  padding: 10px 0 20px;
}
#backtosearch {
  border: none;
  background: #fff;
  padding: 8px;
  color: #fff;
  width: 100%;
  display: none;
  color: #000;
  position: relative;
  bottom: -4px;
  border-radius: 10px 10px 0 0;
  max-width: 460px;
  position: relative;
  text-align: left;
}
#backtosearch span {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);

  font-size: 23px;
  padding: 0 10px;
  color: #666666;
}

/******NO FLOW *******/
.sp-static-section {
  text-align: center;
  color: #fff;
  padding: 30px 0;
}
.sp-static-section h5 {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
.borrow-result {
  font-size: 20px;
  text-align: center;
  color: #fff;
  padding: 20px 0 30px;
  font-weight: 700;
}
.borrow-result span {
  font-size: 24px;
}
.sp-head {
  font-weight: 400;
  font-size: 37px;
  /* padding-bottom: 8px; */
  display: block;
}
.sp-desc {
  font-size: 26px;
  font-weight: 400;
  padding: 10px 0 15px;
}
.sp-sub-head {
  font-size: 20px;
  color: #fff;

  padding: 7px 0;
}
.sp-sub-desc {
  font-size: 13px;
  color: #fff;
  padding-bottom: 20px;
}
.intro-head {
  padding-top: 20px;
  border-top: 1px solid #fff;
  margin-top: 10px;
}
.Sorry_Partner label {
  color: #fff;
  padding-bottom: 7px;
}
.sub-check {
  padding: 25px 0;
}
.Sorry_Partner {
  background: url('../images/openbanner.jpg') 0 0 / cover no-repeat fixed rgba(0, 0, 0, 0);
  bottom: 0;
  padding-top: 80px;
  position: relative;
  display: table;
  z-index: 1;
}
.Sorry_Partner,
.Sorry_Partner::after {
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}
.Sorry_Partner::after {
  background: #000;
  content: '';
  opacity: 0.5;
  position: fixed;
  z-index: -1;
}
.Amount-requested {
  position: relative;
}
.Amount-requested::after {
  position: absolute;
  content: '$';
  left: 3px;
  /* top: 0; */
  bottom: 2px;
  width: 20px;
  background: red;
  z-index: 21;
  display: block;
  height: 35px;
  line-height: 36px;
  text-align: center;
  background: #fff;
}
#Amount-requested {
  padding-left: 28px;
}
#email3 {
  cursor: default;
  overflow: hidden;
}
.sub-check input:checked ~ span,
.sp_select input:checked ~ span {
  background: #6fcf97;
  color: #fff;
}
.sub-check input,
.sp_select input {
  display: none;
}
.sub-check span,
.sp_select span {
  background: #fff;
  padding: 3px 30px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.56);
  margin: 0 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.sp_select {
  text-align: center;
}
.sp_select label {
  display: inline-block;
  overflow: hidden;
}
.sp_select span {
  height: 90px;
  width: 90px;
  display: block;
  text-align: center;
  padding: 0;
  line-height: 90px;
}
.sp_select span:hover {
  background: #20ad77;
}
.sp-section-9 .form-group {
  text-align: left;
}
.sp_select p {
  font-size: 12px;
  max-width: 100px;
  line-height: 14px;
  padding-bottom: 4px;
}
.sp-section-5 .wrapper-600 {
  text-align: left;
}
.sp-section-6 .thank-you-head,
.no_funding .thank-you-head {
  font-size: 35px;
}
.thank-you-desc a {
  color: #fff;
  text-decoration: underline;
}
.thank-you-desc a:hover {
  color: #fff;
  text-decoration: none;
}
.sp-section-6 .fa {
  font-size: 34px;
  margin-top: 20px;
}
.Birthday2_selectBox select {
  border: none;
  /*! width: 31.3%; */
  height: 39px;
}
.sp-section-1-btns button {
  width: 48%;
  display: inline-block;
  margin: 1%;
}
.gobackno {
  float: left;
}
.only_no_flow .gobackno {
  display: none;
}
.only_no_flow .sp-section-1-btn {
  width: 100%;
}
/******NO FLOW *******/

/*Decision Logic*/
.do-u-own h1 {
  display: inline-block;
  padding-bottom: 10px;
  color: #fff;
  font-size: 28px;
  text-transform: capitalize;
}

.account_select {
  padding: 50px 0;
  background: #fff;
  border-radius: 5px;
  color: #333;
}

.account_select_empty h3 {
  color: #e76868;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.account_select_empty p {
  color: #212121;
  font-weight: 600;
  padding-bottom: 20px;
}

.account_select_head {
  display: block;
  max-width: 370px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  font-weight: 700;
  font-size: 30px;
}

.account_select_content {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.account_select_content ul {
  margin-bottom: 30px;
}

.account_select_content li {
  padding-bottom: 15px;
  text-align: left;
}

.account_select_content li:last-child {
  padding-bottom: 0;
}

.account_select_content input {
  opacity: 0;
  display: none;
}
.account_select_content p {
  font-size: 17px;
  padding-left: 30px;
}
.account_select_btn {
  background-color: #24b17e;
  border: none;
  border-radius: 10px;
  padding: 20px 60px;
  font-size: 20px;
  color: #fff;
  margin: 10px 0 0 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.account_select_content .checkbox-inline > p::after {
  border: 1px solid #bdbdbd;
  border-radius: 25px;
  display: block;
  height: 21px;
  left: 0;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.2) inset;
  top: 3px;
  width: 21px;
  transition: all 0.2s linear 0s;
}
.account_select_content .checkbox-inline > p::before {
  height: 22px;
  left: 0;
  background-color: #24b17e;
  opacity: 0;
  top: 2px;
  transform: rotate(50deg);
  transition: all 0.2s linear 0s;
  width: 22px;
  z-index: 5;
  border-radius: 50%;
  border: none;
}
/*.account_select_content .checkbox-inline:hover p::before {
    opacity: .5;
}*/
.account_select_content b {
  padding-right: 20px;
}
@media (max-width: 767px) {
  .onload-list a {
    width: 113px;
    height: 62px;
  }
  .Link_bank_wrapper .onload-list li {
    margin: 0px 10px;
  }
  .onload-list ul {
    justify-content: center;
  }
  .Amount-requested::after {
    height: 32px;
  }
  .Birthday2_selectBox .col-sm-4 {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .onload-list a {
    width: 93px;
    height: 62px;
    margin-bottom: 10px;
    padding: 15px 6px;
  }
  .Link_bank_wrapper .onload-list li {
    margin: 0px 5px;
  }
}

/****** Leanding  *******/

.leading_head {
  border-bottom: 3px solid #28cb8d;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.leading_head .funding-sub-head-3 {
  border: none;
  padding: 0;
  margin: 0;
}
.leading_head .funding-sub-head-3 span {
  padding-bottom: 10px;
}
.logo .leading_logo {
  width: 170px;
  position: relative;
  top: -2px;
}
.logo span {
  color: #fff;
  position: relative;
  top: 5px;
}

@media (max-width: 991px) {
  .logo span {
    color: #fff;
    position: relative;
    top: 5px;
    width: 100%;
    text-align: center;
    display: block;
    line-height: 10px;
  }
  .logo a {
    width: 100%;
    display: block;
    text-align: center;
  }

  .normal_wrapper {
    padding-top: 115px;
  }
}

.money-use-industry-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.money-use-industry-wrapper label {
  width: calc(33.33333% - 15px);
  margin-right: 7.5px;
  margin-bottom: 15px;
  margin-left: 7.5px;
  padding: 0;
  text-align: center;
}

.money-use-industry-wrapper p {
  max-width: none;
}

.money-use-industry-wrapper span {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .money-use-industry-wrapper label {
    min-width: 90px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .money-use-industry-wrapper span {
    margin-top: auto;
  }
}
@media (min-width: 768px) {
  .money-use-industry-wrapper {
    width: 420px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
}

.funding-sub-head-3--renewal {
  border-bottom: 0;
}

.funding-sub-head-3--renewal span {
  display: inline;
  padding-bottom: 0;
}

.page-wrapper {
  width: 100%;
  min-height: 100%;
  color: #fff;
}

@media (max-width: 767px) {
  .page-body {
    background-color: #000;
  }
}
@media (min-width: 768px) {
  .page-body {
    height: 0;
    min-height: 100%;
    background-image: url(../images/openbanner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .page-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-logo {
  display: block;
  width: 300px;
  height: 45px;
}

.call-us {
  font-size: 20px;
  text-transform: uppercase;
}

.header {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 50px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container:before,
.header-container:after {
  content: normal;
}

@media (max-width: 767px) {
  .header-container {
    flex-direction: column;
  }

  .call-us {
    order: 1;
    margin-bottom: 5px;
  }

  .site-logo {
    order: 2;
  }
}

.page-renewals .content {
  padding-bottom: 30px;
}

.page-renewals .wrapper-600 {
  padding-top: 0;
}

.dl-proposed-amount {
  font-size: 60px;
}

.renewals-progress {
  position: relative;
  width: 800px;
  height: 25px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
}
@media (max-width: 767px) {
  .renewals-progress {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .renewals-progress {
    width: 650px;
  }
}

.renewals-progress__bar {
  position: absolute;
  top: 9.5px;
  left: 0;
  z-index: 2;
  height: 6px;
  background-color: #f2ab00;
  transition: width 1s;
}

.renewals-progress__bar--placeholder {
  z-index: 1;
  background-color: #c4c4c4;
}

.renewals-progress__point {
  position: absolute;
  top: 0;
  z-index: 3; /* on top of .renewals-progress__bar */
  width: 130px;
  padding-top: 30px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.renewals-progress__point-1 {
  left: -65px;
}

.renewals-progress__point-2 {
  left: 50%;
  margin-left: -65px;
}

.renewals-progress__point-3 {
  right: -65px;
}

.renewals-progress__point:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -12.5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.renewals-progress__point-active:before {
  background-color: #f2ab00;
}

.renewals-decision-logic-text {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media (max-width: 767px) {
  .page-renewals .onload-list ul {
    justify-content: space-between;
  }

  .page-renewals .onload-list li {
    width: 31%;
    height: 60px;
    margin-right: 0;
    margin-bottom: 7.5px;
    margin-left: 0;
  }

  .page-renewals .onload-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
  }

  .page-renewals .onload-list a:after {
    content: normal;
  }

  .onload-list a img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 0;
  }
}

#loader-fourth {
  display: none;
  position: relative;
  margin-top: 20%;
  width: 250px;
  height: 250px;
  margin-right: auto;
  margin-left: auto;
}

.loader__animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #026fc2;
  border-bottom-color: transparent;
  border-radius: 100%;
  -webkit-animation: rotate 1s 0s linear infinite;
  animation: rotate 1s 0s linear infinite;
}

.loader__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 250px;
  font-size: 26px;
  color: #026fc2;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}