body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
li,
p,
table,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a:active,
a:hover,
a:visited {
  text-decoration: none;
  outline: 0;
}
a,
a:active,
a:focus {
  outline: 0;
}
body,
html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}
.normal_wrapper {
  background: url(../images/openbanner.jpg) 0 0 / cover no-repeat fixed rgba(0, 0, 0, 0);
  bottom: 0;
  padding-top: 80px;
  position: relative;
  display: table;
  z-index: 1;
}
.normal_wrapper::after {
  background: #000;
  content: '';
  opacity: 0.5;
  position: fixed;
  z-index: -1;
}
.hover_ease {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.logo img {
  width: 220px;
}
.container {
  z-index: 41;
}
.steps_wrapper {
  padding: 40px 0;
}
.steps_content h4 {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 3px;
}
.steps_content > p {
  font-size: 13px;
  line-height: 15px;
}
.steps_wrapper > ul {
  text-align: center;
}
.uploads_wrapper {
  padding-bottom: 20px;
}
.uploads_wrapper > h4 {
  color: #fff;
  font-weight: 600;
  text-align: center;
}
.upload_here {
  background: url('../images/Upload icon.png') center center/40px 40px no-repeat rgba(0, 0, 0, 0);
  display: block;
  height: 60px;
  width: 100%;
  cursor: pointer;
  border: 2px dashed #fff;
  border-radius: 10px;
}
.upload_here input {
  display: none;
}
.uploads_wrapper li {
  display: inline-block;
  margin: 0 10px;
  width: 23%;
}
.Continue_upload_loading,
.Continue_upload_loading-files,
.confirmation,
.form-group span.error {
  right: 0;
  text-align: center;
  width: 100%;
}
.upload_here.added {
  background-color: #88b1ff;
}
.uploads_wrapper > ul {
  padding: 20px 0;
  text-align: center;
}
.section-16-next {
  font-size: 25px;
}
.section-16_for_mob {
  display: none;
}
.Continue_upload_loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.Continue_upload_loading .fa {
  font-size: 40px;
  left: 0;
  right: 0;
  position: relative;
  top: 45%;
}
.Continue_upload_loading-files {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 3;
}
.Continue_upload_loading-files .fa {
  font-size: 40px;
  left: 0;
  right: 0;
  position: relative;
  top: 3%;
}
.form-group span.error {
  background: #ef5350;
  color: #fff;
  display: block;
  margin-top: 0;
  padding: 5px 10px;
}
.confirmation {
  background: rgba(0, 0, 0, 0.9);
  display: table;
  height: 100%;
  left: 0;
  position: fixed;
  z-index: 2;
}
.confirmation_content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.confirmation_content a {
  border-radius: 3px;
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
  padding: 10px 60px;
  text-transform: uppercase;
}
.funding-sub-head-3 span {
  padding-bottom: 20px;
}
.invalid_num_error {
  color: #fff;
  background: #ef5350;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  display: block;
}

.section-3 .form-group {
  position: relative;
  padding-bottom: 9px;
}
.error_text {
  color: #000;
  width: auto;
  position: absolute;
  font-size: 12px;
  background: #fff;
  padding: 5px 10px;
  z-index: 1;
  left: 0;
  bottom: -28px;
  border-radius: 3px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.error_text::after {
  content: '';
  left: 10px;
  background: #fff;
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: -4px;
  z-index: -1;
  transform: rotate(-45deg);
}
.error_text.err_legal_one {
  top: 34px;
  bottom: auto;
}
.BankSearchData-wrap {
  position: relative;
}
#iframeRC {
  display: none;
  background-color: #fff;
  border-radius: 5px;
}
.spiner-wrap {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}
.spiner-wrap .fa {
  margin-top: 150px;
  font-size: 30px;
  color: #fff;
}
.main-loader {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  z-index: 1;
  display: none;
}
.main-loader i {
  position: absolute;
  top: 46%;
  color: #fff;
  font-size: 40px;
}

.bank-search {
}

.search-wrap {
  position: relative;
  color: #333;
}
.search-wrap i {
  background-image: url('../images/search-icon.png');
  height: 20px;
  width: 22px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 29%;
  left: 16px;
}
.search-msg {
  display: none;
  position: absolute;
  color: #fff;
  font-size: 12px;
  bottom: -10px;
  font-weight: 700;
  text-align: center;
  left: 0;
  right: 0;
}
.bank-search #BankSearch {
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 20px 15px 20px 50px;
  margin-bottom: 10px;
}

.Link_bank_wrapper,
.account_select {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: #0387cf;
  border-radius: 10px;
  box-shadow: 3px 4px 20px rgba(255, 255, 255, 0.2);
}

.account_select {
  background-color: #fff;
  border: 20px solid #0387cf;
}


.Link_bank_wrapper,
.account_select_second {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: #0387cf;
  border-radius: 10px;
  box-shadow: 3px 4px 20px rgba(255, 255, 255, 0.2);
}

.account_select_second {
  background-color: #fff;
}

#BankSearchData {
  display: none;
  height: 340px;
  overflow-y: auto;
  overflow-x: hidden;
}
.Link_bank_wrapper #BankSearchData li {
  background: #fff;
  color: #000 !important;
  border-radius: 7px;
  display: block;
  padding: 10px;
  margin: 0 0 10px 0;
  width: 100%;
  transition: all 0.5s linear;
  cursor: pointer;
  clear: both;
  text-align: left;
  line-height: 25px;
}
.Link_bank_wrapper #BankSearchData li:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
#BankSearchData li img {
  float: left;
  margin-right: 20px;
  height: 25px;
}
.bank-search .search-head {
  font-size: 20px;
  text-align: left;
  padding-bottom: 20px;
  color: #fff;
  font-weight: 700;
}
.onload-list {
  padding-top: 20px;
}
.onload-list a {
  width: 133px;
  height: 80px;
  display: block;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.onload-list a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 7px;
}
.onload-list a:hover:after {
  border-color: #f2ab00;
}
.onload-list a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.onload-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Link_bank_wrapper .onload-list li {
  width: auto;
}
.onload-list a img {
  width: 100%;
  border-radius: 13px;
}
.onload-chase {
  padding: 19px 10px;
}
.onload-boa {
  padding: 15px 10px;
}
.onload-wells {
  padding: 9px;
}
.onload-pnc {
  padding: 25px 10px;
}
.onload-td {
  padding: 20px 10px;
}
.onload-usb {
  padding: 25px 10px;
}
.onload-region {
  padding: 25px 10px;
}
.onload-capital {
  padding: 19px 10px;
}
.dontFindBank,
.FindBank {
  color: #fff;
  background: transparent;
  border: none;
  padding-top: 10px;
  font-weight: 700;
  font-size: 13px;
}
.FindBank {
  padding: 10px 0 20px;
}
#backtosearch {
  border: none;
  background-color: #fff;
  padding: 8px;
  color: #fff;
  width: 100%;
  display: none;
  color: #000;
  position: relative;
  bottom: -4px;
  /* border-radius: 10px 10px 0 0; */
  position: relative;
  text-align: left;
}
#backtosearch span {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);

  font-size: 23px;
  color: #666666;
}

/*Decision Logic*/
.do-u-own h1 {
  display: inline-block;
  padding-bottom: 10px;
  color: #fff;
  font-size: 28px;
  text-transform: capitalize;
}

.account_select {
}

.account_select_empty h3 {
  color: #e76868;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.account_select_empty p {
  color: #212121;
  font-weight: 600;
  padding-bottom: 20px;
}

.account_select_head {
  max-width: 370px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 700;
  font-size: 30px;
}

.account_select_content {
  padding-right: 15px;
  padding-left: 15px;
}

.account_select_content ul {
  margin-bottom: 15px;
  text-align: left;
}

.account_select_content li {
  margin-bottom: 7.5px;
}

.account_select_content li:last-child {
  margin-bottom: 0;
}

.account_select_content .checkbox-inline {
  position: relative;
  width: 100%;
  height: 44px;
  padding: 0;
}

.account_select_content .checkbox-inline input {
  position: absolute;
  top: 0;
  left: 0;
}

.account_select_content .checkbox-inline p {
  position: absolute;
  top: 0;
  right: 0;
  left: 20px;
  font-size: 16px;
}

.account_select_btn {
  background-color: #24b17e;
  border: none;
  border-radius: 10px;
  padding: 20px 60px;
  font-size: 20px;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .onload-list a {
    width: 113px;
    height: 62px;
  }
  .Link_bank_wrapper .onload-list li {
    margin: 0px 10px;
  }
  .onload-list ul {
    justify-content: center;
  }
  .Amount-requested::after {
    height: 32px;
  }
  .Birthday2_selectBox .col-sm-4 {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .onload-list a {
    width: 93px;
    height: 62px;
    margin-bottom: 10px;
    padding: 15px 6px;
  }
  .Link_bank_wrapper .onload-list li {
    margin: 0px 5px;
  }
}

.section-15-dl2 {
  display: none;
}

.bank-search #BankSearch_second {
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 20px 15px 20px 50px;
  margin-bottom: 10px;
}

#BankSearchData_second {
  height: 340px;
  overflow-y: auto;
  overflow-x: hidden;
}

.Link_bank_wrapper #BankSearchData_second li {
  background: #fff;
  color: #000 !important;
  border-radius: 7px;
  display: block;
  padding: 10px;
  margin: 0 0 10px 0;
  width: 100%;
  transition: all 0.5s linear;
  cursor: pointer;
  clear: both;
  text-align: left;
  line-height: 25px;
}

.Link_bank_wrapper #BankSearchData_second li:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/*
#backtosearch_second {
  background-color: #fff;
  padding: 8px;
  color: #fff;
  width: 100%;
  display: block;
  color: #000;
  position: relative;
  bottom: -4px;
  border-radius: 10px 10px 0 0;
  position: relative;
  text-align: left;
}
*/

#backtosearch_second {
  display: none !important;
}

.section-15-dl2 .search-wrap i {
  background-image: url(../images/search-icon.png);
  height: 20px;
  width: 22px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 29%;
  left: 16px;
}

#iframeRC_second {
  display: none;
  background-color: #fff;
  border-radius: 5px;
}